body {
    font-family: Arial, sans-serif;
    background-color: #343b2f;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

button {
    background-color: #98a690;
    color: #343b2f;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #879380;
}

.hidden {
    display: none !important;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}