 body {
      background-color: #FF5900;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    #result-heading {
      background-color: #00AF64;
      color: white;
      font-size: 2rem;
      font-weight: bold;
      margin: 2rem 0;
      padding: 1rem;
      text-align: center;
    }

    #result {
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-size: 1.2rem;
      margin: 0 auto;
      padding: 1rem;
      max-width: 50rem;
      text-align: center;
    }

    #computer-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      margin: 2rem 0;
      padding: 0 1rem;
    }

    #computer-form label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    #computer-form input[type="submit"] {
      background-color: #0B61A4;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 1.2rem;
      padding: 0.5rem;
      transition: background-color 0.3s ease;
    }

    #computer-form input[type="submit"]:hover {
      background-color: #033E6B;
    }